* {
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;

}

.sidebar {
    background-color: #eee;
    /* height: ; */
    flex: 0.6;

}

.main {
    flex: 2;
    /* height: 200px; */
    background-color: #eee;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;

    }
}